<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Cheikhou</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        h1 {
            color: #333;
            font-size: 3rem;
        }
    </style>
</head>
<br>
    <h1>Hello Cheikhou</h1>
    <h1>Hello cheikh</h1>
    <h1>Hello Cheikh tidiane</h1>
    <h1>Hello Cheikh omar</h1>
</body>
</html>
